
<h1 class="text-center"><%= @movie.title %></h1>
<div class="row">
  <div class="col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-5 col-md-offset-1 col-md-5 col-lg-offset-1 col-lg-3">
    <embed id="trailer" width="420" height="315" src="//<%= @movie.trailer %>">
  </div>
  <div class="col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-5 col-md-5 col-lg-3">
    <h3>Plot</h3>
    <%= @movie.plot %>
  </div>
  <div class="col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 col-lg-3">
    <br />  # use dl & dd
    <h3>Stars:</h3>
    <%= @movie.actors_list %>
    <br />
    <h3>Released:</h3><%= @movie.released %>
    <br />
    <h3>Genre:</h3><%= @movie.genre_list %>
  </div>
</div>
<br />

<div class="row">
  <div class="col-md-offset-1 col-md-2">
    <button onclick="goBack()">Back</button>
    <br />
  </div>
</div>


