<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <h1>The list</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-4 col-md-4">
    <form role="search">
      <input type="text" name="search" value="<%= @search %>" placeholder="Search">
      <button type="submit">Submit</button>
      <button type="reset"
              onclick="window.location.href='/movies'">Reset</button>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <table class="table table-striped table-hover">
      <tr >
        <th class="col-md-2 text-center">
          <% if @category == "title" && @sort_order == "desc" %>
            <%= '<a href="/movies?category=title&sort_order=asc">' %>
          <% else %> 
            <%= '<a href="/movies?category=title&sort_order=desc">' %>
          <% end %>
              Title</a>
          </th>
        <th class="col-md-5 text-center">Actors</th>
        <th class="col-md-2 text-center">
          <% if @category == "released" && @sort_order == "desc" %>
            <%= '<a href="/movies?category=released&sort_order=asc">' %>
          <% else %> 
            <%= '<a href="/movies?category=released&sort_order=desc">' %>
          <% end %>
            Released</a>
        </th>
        <th class="col-md-3 text-center">Genre</th>
      </tr>
      <% @library.each do |movie| %>
        <tr>
          <td class="text-left"><a href="movies/<%= movie.id %>"><%= movie.title %></a></td>
          <td class="text-left"><a href="movies/<%= movie.id %>"><%= movie.actors_list %></a></td>
          <td class="text-center"><a href="movies/<%= movie.id %>"><%= movie.released %></a></td>
          <td class="text-left"><a href="movies/<%= movie.id %>"><%= movie.genre_list %></a></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>